* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
    padding: 20px;
}

h1 {
    color: #333;
    background-color: #9dfb9d;
    text-align: center;
    margin-bottom: 20px;
    border-bottom: 5px solid #007bff;
    padding-top: 20px;
    padding-bottom: 20px;
}

p {
    color: #000000;
    text-align: center;
    font-size: 20px;
    line-height: 1.5;
    margin-bottom: 15px;
}

.search-container {
    display: flex;
    border-radius: 8px;
    justify-content: center;
    margin-bottom: 1%;
    width: 100%;
}


