* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
    padding: 20px;
}

h1 {
    color: #333;
    background-color: #9dfb9d;
    text-align: center;
    margin-bottom: 20px;
    border-bottom: 5px solid #007bff;
    padding-top: 20px;
    padding-bottom: 20px;
}
